.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.lh-title {
  line-height: 1.25;
}

.w1 {
  width: 1rem;
}

.navy {
  color: #001b44;
}

.bg-lightest-blue {
  background-color: #cdecff;
}

.pa4 {
  padding: 2rem;
}

.ml3 {
  margin-left: 1rem;
}
