---

---

<div
  class="prose prose-lg prose-slate dark:prose-invert md:prose-xl first-letter:float-left first-letter:pr-4 first-letter:font-serif first-letter:text-7xl first-letter:font-black prose-a:text-violet-700 prose-blockquote:border-teal-300 prose-img:rounded-sm prose-hr:border-teal-300 dark:prose-a:text-teal-300"
>
  <slot />
</div>
