---
import fourohfour from "@/assets/404.svg"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import BaseLayout from "@/layouts/BaseLayout.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<BaseLayout title={`${t("404.page-not-found")} | ${t("meta.title")}`}>
  <main
    style={`background-image: url(${fourohfour.src});`}
    class="pointer-events-none mx-auto flex min-h-screen w-full max-w-screen-xl items-center justify-center bg-contain bg-center bg-no-repeat"
  >
    <header>
      <h1 class="font-mono text-3xl lowercase md:text-5xl">
        {t("404.page-not-found")}
      </h1>
    </header>
  </main>
</BaseLayout>
