---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
    <title>CMS</title>
  </head>
  <body>
    <script is:inline src="https://unpkg.com/decap-cms@^3.5.0/dist/decap-cms.js"
    ></script>
    <script
      is:inline
      src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <!-- Customize the netlify identity widget to refresh on logout preventing users from using the cms when not logged in and then seeing an error -->
    <script is:inline>
      netlifyIdentity.on("logout", () => location.reload())
    </script>
    <!-- Redirect users to admin panel on login -->
    <script>
      // @ts-expect-error
      if (window.netlifyIdentity) {
        // @ts-expect-error
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            // @ts-expect-error
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/"
            })
          }
        })
      }
    </script>
  </body>
</html>
