@import "~bulma"
@import url('https://fonts.googleapis.com/css?family=Lato')

*
  font-family: 'Lato', sans-serif

.tabs:not(:last-child)
  margin-bottom: 0 !important

.article > header:after
  content: ''
  position: absolute
  width: 7em
  height: 0.15em
  background: hsl(171, 100%, 41%)

.tags
  padding-top: 1em